slides.pdf
slides_fig?.png
PolygonWrapping.pdf
SurfaceNotes.pdf
blockmean.pdf
gpsgridder.pdf
gravfft.pdf
grdflexure.pdf
grdseamount.pdf
greenspline.pdf
sphellipse.pdf
ternary.pdf
trendmodel.pdf
*.log
*.aux
