slides.pdf
slides_azim.png
slides_model.png
slides_psi.png
slides_shape.png
PolygonWrapping.pdf
SurfaceNotes.pdf
blockmean.pdf
gpsgridder.pdf
gravfft.pdf
grdflexure.pdf
grdseamount.pdf
greenspline.pdf
sphellipse.pdf
ternary.pdf
trendmodel.pdf
*.log
*.aux
*.asv
